include LICENSE
include AUTHORS
include HISTORY.rst
include CONTRIBUTING.rst
include manage.py
include requirements.txt

include README.rst

recursive-include mips *
recursive-include docs/build/html *
recursive-include docs/source *

exclude mips/dbsettings_prod*
recursive-exclude mips/migrations *

